In [2]:
import pandas as pd
pd.set_option('display.max_rows', 100)

In [3]:
datafile = '../data/michelin_my_maps.csv'
mdf = pd.read_csv(datafile)
mdf = mdf.dropna(subset=['MinPrice','MaxPrice'])
mdf['MaxPrice'] = mdf['MaxPrice'].str.replace(',', '')
mdf['MaxPrice']=[int(m) for m in mdf['MaxPrice'].dropna()]
mdf['MinPrice'] = mdf['MinPrice'].str.replace(',', '')
mdf['MinPrice']=[int(m) for m in mdf['MinPrice'].dropna()]

#mdf['MaxPrice'] = mdf['MaxPrice'].astype('Float64', errors='raise')
# mdf['MinPrice'] = mdf['MinPrice'].str.replace(',', '')
# mdf['MinPrice'] = mdf['MinPrice'].astype('Int64', errors='ignore')
# mdf.dtypes
# mdf.iloc[0]['MinPrice']

##### What are the major currencies?

In [4]:
to_usd = {'EUR': 1.11, 'JPY':.0082, 'USD':1, 'GBP':1.31, 'CHF':1.08}
mdf.groupby('Currency', as_index=False, dropna=False).count().sort_values(by='Name', ascending=False)

,Currency,Name,Address,Location,MinPrice,MaxPrice,Cuisine,Longitude,Latitude,PhoneNumber,Url,WebsiteUrl,Award
5,EUR,3535,3535,3535,3535,3535,3535,3535,3535,3532,3535,3383,3535
11,JPY,843,843,843,843,843,843,843,843,815,843,408,843
21,USD,563,563,563,563,563,563,563,563,549,563,528,563
6,GBP,279,279,279,279,279,279,279,279,271,279,279,279
1,CHF,252,252,252,252,252,252,252,252,252,252,251,252
2,CNY,190,190,190,190,190,190,190,190,188,190,64,190
19,THB,165,165,165,165,165,165,165,165,165,165,53,165
7,HKD,135,135,135,135,135,135,135,135,134,135,82,135
20,TWD,124,124,124,124,124,124,124,124,111,124,51,124
18,SGD,118,118,118,118,118,118,118,118,69,118,64,118
12,KRW,91,91,91,91,91,91,91,91,90,91,25,91
0,BRL,53,53,53,53,53,53,53,53,53,53,41,53
4,DKK,42,42,42,42,42,42,42,42,41,42,42,42
17,SEK,31,31,31,31,31,31,31,31,31,31,31,31
8,HRK,23,23,23,23,23,23,23,23,23,23,20,23
13,MOP,22,22,22,22,22,22,22,22,22,22,17,22
14,NOK,13,13,13,13,13,13,13,13,12,13,13,13
9,HUF,7,7,7,7,7,7,7,7,7,7,7,7
3,CZK,7,7,7,7,7,7,7,7,7,7,7,7
15,PLN,6,6,6,6,6,6,6,6,6,6,6,6
16,RSD,1,1,1,1,1,1,1,1,1,1,1,1
10,ISK,1,1,1,1,1,1,1,1,1,1,1,1

#### What are the major cities?

In [6]:
mdf.groupby('Location', as_index=False, dropna=False).count().sort_values(by='Name', ascending=False)

,Location,Name,Address,MinPrice,MaxPrice,Currency,Cuisine,Longitude,Latitude,PhoneNumber,Url,WebsiteUrl,Award
2403,Tokyo,430,430,430,430,430,430,430,430,414,430,240,430
1165,Kyoto,207,207,207,207,207,207,207,207,203,207,96,207
1714,Osaka,206,206,206,206,206,206,206,206,198,206,72,206
1623,New York,180,180,180,180,180,180,180,180,175,180,165,180
1760,Paris,159,159,159,159,159,159,159,159,159,159,155,159
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1232,Landéda,1,1,1,1,1,1,1,1,1,1,1,1
1231,Lanaye,1,1,1,1,1,1,1,1,1,1,1,1
1230,Lamporecchio,1,1,1,1,1,1,1,1,1,1,1,1
1229,Lamezia Terme,1,1,1,1,1,1,1,1,1,1,1,1
2714,Šentjanž,1,1,1,1,1,1,1,1,1,1,1,1

##### Parse out country information from the address field. What are the major countries?

In [7]:
mdf['Country']=[a.split(',')[-1].strip() for a in mdf['Address']]

mdf.groupby('Country', as_index=False, dropna=False).count().sort_values(by='Name', ascending=False)

,Country,Name,Address,Location,MinPrice,MaxPrice,Currency,Cuisine,Longitude,Latitude,PhoneNumber,Url,WebsiteUrl,Award
9,France,1119,1119,1119,1119,1119,1119,1119,1119,1119,1118,1119,1066,1119
17,Japan,843,843,843,843,843,843,843,843,843,815,843,408,843
16,Italy,628,628,628,628,628,628,628,628,628,628,628,586,628
10,Germany,623,623,623,623,623,623,623,623,623,622,623,620,623
36,United States,563,563,563,563,563,563,563,563,563,549,563,528,563
30,Spain,474,474,474,474,474,474,474,474,474,474,474,440,474
35,United Kingdom,279,279,279,279,279,279,279,279,279,271,279,279,279
2,Belgium,266,266,266,266,266,266,266,266,266,266,266,262,266
32,Switzerland,252,252,252,252,252,252,252,252,252,252,252,251,252
21,Netherlands,226,226,226,226,226,226,226,226,226,225,226,226,226
4,China Mainland,190,190,190,190,190,190,190,190,190,188,190,64,190
34,Thailand,165,165,165,165,165,165,165,165,165,165,165,53,165
12,Hong Kong,135,135,135,135,135,135,135,135,135,134,135,82,135
33,Taipei & Taichung,124,124,124,124,124,124,124,124,124,111,124,51,124
27,Singapore,118,118,118,118,118,118,118,118,118,69,118,64,118
29,South Korea,91,91,91,91,91,91,91,91,91,90,91,25,91
24,Portugal,69,69,69,69,69,69,69,69,69,69,69,56,69
3,Brazil,53,53,53,53,53,53,53,53,53,53,53,41,53
7,Denmark,42,42,42,42,42,42,42,42,42,41,42,42,42
15,Ireland,37,37,37,37,37,37,37,37,37,37,37,37,37
31,Sweden,31,31,31,31,31,31,31,31,31,31,31,31,31
1,Austria,30,30,30,30,30,30,30,30,30,30,30,29,30
5,Croatia,23,23,23,23,23,23,23,23,23,23,23,20,23
19,Macau,22,22,22,22,22,22,22,22,22,22,22,17,22
18,Luxembourg,20,20,20,20,20,20,20,20,20,20,20,20,20
28,Slovenia,13,13,13,13,13,13,13,13,13,13,13,12,13
22,Norway,13,13,13,13,13,13,13,13,13,12,13,13,13
20,Malta,9,9,9,9,9,9,9,9,9,9,9,9,9
11,Greece,9,9,9,9,9,9,9,9,9,9,9,8,9
8,Finland,9,9,9,9,9,9,9,9,9,9,9,9,9
13,Hungary,7,7,7,7,7,7,7,7,7,7,7,7,7
6,Czech Republic,7,7,7,7,7,7,7,7,7,7,7,7,7
23,Poland,6,6,6,6,6,6,6,6,6,6,6,6,6
0,Andorra,2,2,2,2,2,2,2,2,2,2,2,2,2
25,San Marino,1,1,1,1,1,1,1,1,1,1,1,1,1
26,Serbia,1,1,1,1,1,1,1,1,1,1,1,1,1
14,Iceland,1,1,1,1,1,1,1,1,1,1,1,1,1

In [8]:
cmdf = mdf[['Country','Name','Location','MinPrice','MaxPrice','Currency','Cuisine','Award']]
usdf = cmdf[cmdf['Country']=='United States']
usdf.groupby('Location', as_index=False).count().sort_values(by='Name', ascending=False)

,Location,Country,Name,MinPrice,MaxPrice,Currency,Cuisine,Award
53,New York,180,180,180,180,180,180,180
15,Chicago,77,77,77,77,77,77,77
90,Washington,59,59,59,59,59,59,59
72,San Francisco,52,52,52,52,52,52,52
42,Los Angeles,36,36,36,36,36,36,36
55,Oakland,11,11,11,11,11,11,11
71,San Diego,11,11,11,11,11,11,11
79,Santa Barbara,6,6,6,6,6,6,6
8,Beverly Hills,5,5,5,5,5,5,5
80,Santa Monica,5,5,5,5,5,5,5
2,Alhambra,4,4,4,4,4,4,4
69,Sacramento,4,4,4,4,4,4,4
93,Yountville,3,3,3,3,3,3,3
85,Sonoma,3,3,3,3,3,3,3
33,Healdsburg,3,3,3,3,3,3,3
17,Costa Mesa,3,3,3,3,3,3,3
43,Los Gatos,3,3,3,3,3,3,3
77,San Mateo,3,3,3,3,3,3,3
7,Berkeley,3,3,3,3,3,3,3
44,Manhattan Beach,2,2,2,2,2,2,2
70,San Anselmo,2,2,2,2,2,2,2
65,Rosemead,2,2,2,2,2,2,2
35,Hollywood,2,2,2,2,2,2,2
51,Napa,2,2,2,2,2,2,2
52,New Rochelle,2,2,2,2,2,2,2
59,Pasadena,2,2,2,2,2,2,2
74,San Jose,2,2,2,2,2,2,2
28,Garden Grove,2,2,2,2,2,2,2
58,Palo Alto,2,2,2,2,2,2,2
24,Elmsford,2,2,2,2,2,2,2
13,Carmel-by-the-Sea,2,2,2,2,2,2,2
84,Sebastopol,2,2,2,2,2,2,2
87,Temple City,2,2,2,2,2,2,2
12,Carlsbad,2,2,2,2,2,2,2
25,Encino,2,2,2,2,2,2,2
4,Arcadia,2,2,2,2,2,2,2
89,Village of Pelham,1,1,1,1,1,1,1
91,West Hollywood,1,1,1,1,1,1,1
60,Paso Robles,1,1,1,1,1,1,1
61,Petaluma,1,1,1,1,1,1,1
62,Pleasantville,1,1,1,1,1,1,1
63,Pomona,1,1,1,1,1,1,1
64,Redwood City,1,1,1,1,1,1,1
92,Woodside,1,1,1,1,1,1,1
88,Tustin,1,1,1,1,1,1,1
57,Orange,1,1,1,1,1,1,1
76,San Leandro,1,1,1,1,1,1,1
66,Roseville,1,1,1,1,1,1,1
67,Rutherford,1,1,1,1,1,1,1
68,Rye,1,1,1,1,1,1,1
83,Scarsdale,1,1,1,1,1,1,1
82,Sausalito,1,1,1,1,1,1,1
81,Saratoga,1,1,1,1,1,1,1
73,San Gabriel,1,1,1,1,1,1,1
78,Santa Ana,1,1,1,1,1,1,1
75,San Juan Capistrano,1,1,1,1,1,1,1
86,Tarrytown,1,1,1,1,1,1,1
0,Alameda,1,1,1,1,1,1,1
56,Oceanside,1,1,1,1,1,1,1
54,Newport Beach,1,1,1,1,1,1,1
26,Fairfax,1,1,1,1,1,1,1
23,Elk,1,1,1,1,1,1,1
22,El Monte,1,1,1,1,1,1,1
21,El Cerrito,1,1,1,1,1,1,1
20,Eastchester,1,1,1,1,1,1,1
19,Dobbs Ferry,1,1,1,1,1,1,1
18,Culver City,1,1,1,1,1,1,1
16,Corte Madera,1,1,1,1,1,1,1
14,Cerritos,1,1,1,1,1,1,1
11,Campbell,1,1,1,1,1,1,1
10,Burlingame,1,1,1,1,1,1,1
9,Bronxville,1,1,1,1,1,1,1
6,Bell Gardens,1,1,1,1,1,1,1
5,Atherton,1,1,1,1,1,1,1
3,Aptos,1,1,1,1,1,1,1
27,Fullerton,1,1,1,1,1,1,1
29,Glen Ellen,1,1,1,1,1,1,1
30,Glendale,1,1,1,1,1,1,1
41,Los Alamos,1,1,1,1,1,1,1
50,Mountain View,1,1,1,1,1,1,1
49,Mount Kisco,1,1,1,1,1,1,1
48,Monrovia,1,1,1,1,1,1,1
1,Albany,1,1,1,1,1,1,1
46,Menlo Park,1,1,1,1,1,1,1
45,Marshall,1,1,1,1,1,1,1
40,Livermore,1,1,1,1,1,1,1
31,Hastings-on-Hudson,1,1,1,1,1,1,1
39,Laguna Beach,1,1,1,1,1,1,1
38,Irvine,1,1,1,1,1,1,1
37,Inglewood,1,1,1,1,1,1,1
36,Huntington Beach,1,1,1,1,1,1,1
34,Hermosa Beach,1,1,1,1,1,1,1
32,Hayward,1,1,1,1,1,1,1
47,Mill Valley,1,1,1,1,1,1,1

In [9]:
location = 'Chicago'
max = 500
usdf[usdf['Location']==location].groupby('Award').count()

,Country,Name,Location,MinPrice,MaxPrice,Currency,Cuisine
Award,,,,,,,
1 MICHELIN Star,15,15,15,15,15,15,15
2 MICHELIN Stars,4,4,4,4,4,4,4
3 MICHELIN Stars,1,1,1,1,1,1,1
Bib Gourmand,57,57,57,57,57,57,57

In [10]:
usdf[(usdf['Location']==location)&(usdf['MaxPrice']<max)].sort_values(by=['MinPrice', 'MaxPrice'], ascending=True).reset_index(drop=True)

,Country,Name,Location,MinPrice,MaxPrice,Currency,Cuisine,Award
0,United States,Lula Cafe,Chicago,20,50,USD,American,Bib Gourmand
1,United States,Avlí Taverna,Chicago,22,50,USD,"Greek, Regional Cuisine",Bib Gourmand
2,United States,Smoque BBQ,Chicago,25,25,USD,Barbecue,Bib Gourmand
3,United States,Birrieria Zaragoza,Chicago,25,25,USD,"Mexican, Regional Cuisine",Bib Gourmand
4,United States,Lonesome Rose,Chicago,25,30,USD,Mexican,Bib Gourmand
5,United States,Flat & Point,Chicago,25,55,USD,American,Bib Gourmand
6,United States,Daisies,Chicago,25,60,USD,Italian,Bib Gourmand
7,United States,Daguan Noodle,Chicago,30,30,USD,"Chinese, Noodles",Bib Gourmand
8,United States,Ina Mae,Chicago,30,50,USD,"Southern, Creole",Bib Gourmand
9,United States,Longman & Eagle,Chicago,30,50,USD,Gastropub,Bib Gourmand
10,United States,Ghin Khao,Chicago,31,31,USD,Thai,Bib Gourmand
11,United States,Joe's Imports,Chicago,35,40,USD,"Italian, American",Bib Gourmand
12,United States,Untitled Supper Club,Chicago,35,60,USD,Contemporary,Bib Gourmand
13,United States,Chef’s Special Cocktail Bar,Chicago,38,38,USD,"American, Chinese",Bib Gourmand
14,United States,Giant,Chicago,40,40,USD,American,Bib Gourmand
15,United States,Pleasant House Pub,Chicago,40,40,USD,"Gastropub, English",Bib Gourmand
16,United States,County Barbecue,Chicago,40,40,USD,Barbecue,Bib Gourmand
17,United States,Kie-Gol-Lanee,Chicago,40,40,USD,Mexican,Bib Gourmand
18,United States,Mango Pickle,Chicago,40,55,USD,"Indian, Contemporary",Bib Gourmand
19,United States,Herb,Chicago,40,55,USD,"Thai, Contemporary",Bib Gourmand
20,United States,DeCOLORES,Chicago,41,41,USD,Mexican,Bib Gourmand
21,United States,Nella Pizza e Pasta,Chicago,44,44,USD,"Italian, Pizza",Bib Gourmand
22,United States,La Josie,Chicago,45,47,USD,"Mexican, Contemporary",Bib Gourmand
23,United States,Mott St.,Chicago,45,67,USD,"Fusion, Contemporary",Bib Gourmand
24,United States,San Soo Gab San,Chicago,48,48,USD,"Korean, Barbecue",Bib Gourmand
25,United States,Virtue,Chicago,50,50,USD,"Southern, Regional Cuisine",Bib Gourmand
26,United States,The Purple Pig,Chicago,50,50,USD,Mediterranean Cuisine,Bib Gourmand
27,United States,Soulé,Chicago,50,50,USD,"Southern, Creole",Bib Gourmand
28,United States,Ceres’ Table,Chicago,50,50,USD,Italian,Bib Gourmand
29,United States,HaiSous,Chicago,50,50,USD,Vietnamese,Bib Gourmand
30,United States,Frontera Grill,Chicago,50,50,USD,Mexican,Bib Gourmand
31,United States,Sol de Mexico,Chicago,50,50,USD,"Mexican, Regional Cuisine",Bib Gourmand
32,United States,GT Fish & Oyster,Chicago,50,50,USD,Seafood,Bib Gourmand
33,United States,Vajra,Chicago,50,50,USD,"Indian, Nepali",Bib Gourmand
34,United States,mfk.,Chicago,50,50,USD,"Spanish, Basque",Bib Gourmand
35,United States,Cabra,Chicago,50,50,USD,"Peruvian, Latin American",Bib Gourmand
36,United States,Mama Delia,Chicago,50,50,USD,"Spanish, Spanish Contemporary",Bib Gourmand
37,United States,etta,Chicago,50,50,USD,"American, Italian-American",Bib Gourmand
38,United States,Chilam Balam,Chicago,50,50,USD,Mexican,Bib Gourmand
39,United States,Marisol,Chicago,50,50,USD,"American, Contemporary",Bib Gourmand
40,United States,Munno Pizzeria & Bistro,Chicago,50,50,USD,"Pizza, Italian",Bib Gourmand
41,United States,Mi Tocaya,Chicago,50,50,USD,Mexican,Bib Gourmand
42,United States,Perilla,Chicago,50,50,USD,"Korean, American",Bib Gourmand
43,United States,Pizzeria Bebu,Chicago,50,50,USD,"Pizza, American",Bib Gourmand
44,United States,Cira,Chicago,50,50,USD,"Mediterranean Cuisine, American Contemporary",Bib Gourmand
45,United States,Gilt Bar,Chicago,50,50,USD,Gastropub,Bib Gourmand
46,United States,avec,Chicago,50,50,USD,"Mediterranean Cuisine, American Contemporary",Bib Gourmand
47,United States,Funkenhausen,Chicago,50,58,USD,"Gastropub, Bavarian",Bib Gourmand
48,United States,Proxi,Chicago,50,65,USD,"International, Asian",Bib Gourmand
49,United States,Kai Zan,Chicago,50,69,USD,"Japanese, Izakaya",Bib Gourmand
50,United States,The Duck Inn,Chicago,50,85,USD,"Gastropub, American Contemporary",Bib Gourmand
51,United States,Dos Urban Cantina,Chicago,52,52,USD,Mexican,Bib Gourmand
52,United States,"Table, Donkey and Stick",Chicago,55,55,USD,Austrian,Bib Gourmand
53,United States,Tzuco,Chicago,65,130,USD,Mexican,Bib Gourmand
54,United States,Girl & The Goat,Chicago,70,70,USD,"Contemporary, American",Bib Gourmand
55,United States,Parachute,Chicago,75,75,USD,"Korean, Contemporary",1 MICHELIN Star
56,United States,Ciccio Mio,Chicago,75,75,USD,"Italian, American",Bib Gourmand
57,United States,Sepia,Chicago,75,85,USD,"American, American Contemporary",1 MICHELIN Star
58,United States,North Pond,Chicago,76,95,USD,"Contemporary, American",1 MICHELIN Star
59,United States,Elske,Chicago,90,115,USD,"Contemporary, American Contemporary",1 MICHELIN Star
60,United States,Boka,Chicago,95,165,USD,"Contemporary, American",1 MICHELIN Star
61,United States,Topolobampo,Chicago,100,140,USD,"Mexican, Regional Cuisine",1 MICHELIN Star
62,United States,Omakase Yume,Chicago,150,150,USD,"Japanese, Sushi",1 MICHELIN Star
63,United States,Elizabeth,Chicago,150,150,USD,"Contemporary, American",1 MICHELIN Star
64,United States,EL Ideas,Chicago,150,150,USD,"Contemporary, Creative",1 MICHELIN Star
65,United States,Schwa,Chicago,160,160,USD,"Contemporary, Innovative",1 MICHELIN Star
66,United States,Goosefoot,Chicago,165,165,USD,"Contemporary, French Contemporary",1 MICHELIN Star
67,United States,Porto,Chicago,175,175,USD,"Portuguese, Seafood",1 MICHELIN Star
68,United States,Mako,Chicago,175,175,USD,"Japanese, Sushi",1 MICHELIN Star
69,United States,Temporis,Chicago,175,175,USD,"Contemporary, Modern Cuisine",1 MICHELIN Star
70,United States,Next,Chicago,175,255,USD,"Contemporary, Innovative",1 MICHELIN Star
71,United States,Alinea,Chicago,210,365,USD,"Contemporary, Creative",3 MICHELIN Stars
72,United States,Kasama,Chicago,215,215,USD,"Filipino, Contemporary",Bib Gourmand
73,United States,Smyth,Chicago,265,265,USD,"Contemporary, Modern Cuisine",2 MICHELIN Stars
74,United States,Oriole,Chicago,285,285,USD,"Contemporary, American Contemporary",2 MICHELIN Stars
75,United States,Ever,Chicago,285,285,USD,"Contemporary, Modern Cuisine",2 MICHELIN Stars
76,United States,Moody Tongue,Chicago,285,330,USD,"Contemporary, American Contemporary",2 MICHELIN Stars

In [11]:
gdf = cmdf[cmdf['Country']=='Germany'].sort_values(by=['MinPrice', 'MaxPrice'], ascending=True).reset_index(drop=True)
gdf = gdf[['Name', 'Location', 'MinPrice', 'MaxPrice', 'Cuisine', 'Award']]
gdf.to_csv('bandyts_michelin.csv')